body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f6f8;
  color: #222;
  margin: 0;
  padding: 0;
  ]

.container{
  max-width: 700px;
  margin: 50px auto;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

h1{
  margin-top: 0;
  font-size: 2em;
  color: #0a0f24;
}

h2{
  color: #333:
}

p{
  font-size: 1.1em;
  line-height: 1.6;
}
